<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Show arrayexplorer"
            id="arrayexplorer.commands.showvis">
         <defaultHandler
               class="org.eclipse.ui.handlers.ShowViewHandler">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="arrayexplorer.viewarray">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Test4.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/favicon.ico"
                  tooltip="Array Explorer"
                  id="Show Array Explorer">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="arrayexplorer.viewarray">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="arrayexplorer.view.ArraysViewPart"
            icon="icons/favicon.ico"
            id="arrayexplorer.viewarray"
            name="Arrays"
            restorable="true">
      </view>
   </extension>
	<extension point="org.eclipse.ui.popupMenus"> 
      <objectContribution
            objectClass="org.eclipse.jdt.debug.core.IJavaVariable"
            id="arrayexplorer.objectvisualizer">
         <action
               class="arrayexplorer.eclipseuiactions.ValueVisActionDelegate"
               enablesFor="1"
               icon="icons/favicon.ico"
               id="arrayexplorer.VariableVisAction"
               label="Visualize"
               menubarPath="additions"
               tooltip="Visualize the Variable Contents">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.debug.core.model.IWatchExpression"
            id="arrayexplorer.watchExpressionVisualizer">
         <action
               class="arrayexplorer.eclipseuiactions.ValueVisActionDelegate"
               enablesFor="1"
               icon="icons/favicon.ico"
               id="arrayexplorer.WatchExpressionVisAction"
               label="Visualize"
               menubarPath="additions"
               tooltip="Visualize the Expression Result">
         </action>
      </objectContribution>
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.eclipse.jdt.debug.ui.CUVisualizationActions">
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.jdt.debug.ui.debuggerActive"
                     value="true">
               </systemProperty>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
            </and>
         </visibility>
         <action
               class="arrayexplorer.eclipseuiactions.VisualizeEditorValueAction"
               helpContextId="inspect_action_context"
               icon="icons/favicon.ico"
               id="arrayexplorer.Visualize"
               label="Visualize"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <objectContribution
            id="arrayexplorer.objectrefererncevisualizer"
            objectClass="com.sun.jdi.ObjectReference">
         <action
               class="arrayexplorer.eclipseuiactions.ObjectReferenceVisActionDelegate"
               enablesFor="1"
               icon="icons/favicon.ico"
               id="arrayexplorer.ObjectReferenceVisAction"
               label="Visualize"
               menubarPath="additions"
               tooltip="Visualize the Variable Contents">
         </action>
      </objectContribution>

    </extension>
</plugin>
